*{
    margin: 0;
    padding: 0;
    width: 100%;
    
    box-sizing: border-box;
}


.footer{
    width: 100%;
    background-color: darkslateblue;
    
text-align: center;
margin-top: 50px;
}
.newsLetter{
    color: yellow;
    font-size: 1.5rem;
    font-weight: 700;
}
.paperPlane{
    width: 25px;
    
    margin-right: 5px;
}
.footer-icon{

    width: 25px;
    height: 25px;
    font-size: 10px;
    color: white;
    

    &:hover{
        opacity: .2;    }
        cursor: pointer;
}
.phone{
    font-size:1.5rem;
}
.footer-first{
    height: 10vh;
  
}
.line{
    margin-top: 50px;
    width: 70%;
    margin-left: 15%;
    
}
.footer-second{
    width: 100%;
    height:50%;
   
    
}
.copyright{
    color: white;
    font-weight:700;
   
}
.social-site{
    width: 40px;
}
@media (max-width:480px){

    .footer-icon{
        width: 15px;
        height: 16px;
        font-size: 10px;
        color: white;
    }
}
@media (min-width:767px){

    .footer-icon{
        width: 25px;
    height: 25px;
    font-size: 10px;
    color: white;
    }
    .footer-second{
        margin-top: 0;
    }
}

@media (min-width:1024px){

    .footer-icon{
        width: 25px;
    height: 25px;
    font-size: 10px;
    color: white;
    }
    .footer-second{
        margin-top: 0;
    }
}