
 .company-slider{
    width: 100%;   
    height: 100vh;
    overflow: scroll;
}
 

.company-board{
    height: fit-content; 
    border: 1 px solid ; 
    margin-top: 2px;
   
    padding-top: 10px;
   
    
    background-color: white;  
   
    border-radius: 20px; 
    padding-left: 15px; 
    padding-bottom: 20px; 
    width:300px;


}      
.company-type{ 
    font-weight: 500;   
    font-size: 1.2rem; 

}
.company-number{
    font-size: 0.8rem ;
    font-weight: 500; 
    cursor: pointer;

}
.company-next{
    width: fit-content; 
    cursor: pointer;

} 
.companies{
    height: 100vh; 
    overflow: scroll;
}

.company-cards-page{  
    margin-top: 150px;
    
}

.industry-heading{
    width: fit-content;
    height: fit-content;
}














  
















 





