

.heading-name{
    width: 100%;
}
.save-button{
    width: 25%;

}
.apply-button{
    width: 25%;

}
.first-block{
    width: 50%;

}
.similar-job{
    width: 25%;
    height: fit-content;

}


@media only screen and  ( max-width: 576px  ) {
   

    .heading-name{
        width: 100%;
    }
    .save-button{
        width: 75%;
    
    }
    .apply-button{
        padding: 5px;
        width: 75%;
        margin-top: 10px;
    
    }
    .first-block{
        width: 100%;
    
    }
    .similar-job{
        width: 100%;
    
    }
    .similar-particular-job{
        cursor: pointer;
    }
}


@media only screen and (min-width:576px) and (max-width:768px) {
    
    .heading-name{
        width: 90%;
    }
    .save-button{
        /* display: flex; */
        /* justify-self: end; */
        /* justify-content: end;00 */
        /* justify-items: end; */
        width: 50%;
        
    
    }
    .apply-button{
        width: 50%;
        
        
    
    }
    .first-block{
        width: 100%;
    
    }
    .similar-job{
        width: 100%;
    
    }
    .similar-particular-job{
        cursor: pointer;
    }
}
    @media only screen and (min-width:769px) and (max-width:1140px) {
       
        .heading-name{
            width: 90%;
        }
        .save-button{
            width: 100%;
            
        
        }
        .apply-button{
            width: 100%;
            
            
        
        }
        .first-block{
            width: 100%;
        
        }
        .similar-job{
            width: 100%;
        
        }
        .similar-particular-job{
            cursor: pointer;
        }
    

    }
    
