*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
.filter-type{
    width: fit-content;
    /* overflow: scroll; */
} 



 

.main-heading{
    /* width:fit-content; */

    
    
    >.main-head{
        /* width: fit-content; */
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        >.filter{
            font-size: 1.5rem;
            font-weight: 600;
            color: gray;


        }
        >.clear{
           
            border-radius: 30px;
            font-weight: 600;
            color: gray;
            font-size: 1.5rem;
        }
    }
}
.icon{
margin-right: 10px;
}
.check{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.heading-drawer{
    display: none;
}
.filter-button{
    width: fit-content;
}