.login-page{

    width: 100%; 
    margin-top: 100px;
}

.login-form{
    width: 30%;
    height: fit-content;

}
.login-detail{
    height: fit-content;
    width: fit-content;
    /* width: 40%; */
    
}
.login-btn{
   
    width: auto;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; 
    
}
.forget-btn{
    font-size: 10px;
    width: auto;
}

@media only screen and (max-width:768px){
    .login-form{
        width: 100%;
        height: fit-content;
    
    }
    .login-detail{
        width: 100%;
    }

}