
 *{ 
     margin: 0; 
    padding: 0; 
     
     box-sizing: border-box; 
 } 
  body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }


.navbar{

     
    background-color: whitesmoke; 
    position: fixed;
    width: fit-content;
    top: 0;
    z-index: 1000;
   
  
   
 } 

 .menu-icon{ 
     margin-left: '5rem'; 
 } 
