
 *{ 
     margin: 0; 
    padding: 0; 
     
     box-sizing: border-box; 
 } 
  body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }


.navbar{

     
    background-color: whitesmoke; 
    position: fixed;
    width: fit-content;
    top: 0;
    z-index: 1000;
   
  
   
 } 

 .menu-icon{ 
     margin-left: '5rem'; 
 } 

 .side-text{
  font-size: 1rem; 
  font-weight: 500; 
  width: fit-content;
  
  text-decoration: none;
  cursor: pointer; 
  color: tan;
  
 }
 .username{
  font-weight: 500; 
 }
 .user-email{
  font-weight: 400;
 }
 /* .side-button{
  border: 1px solid white;
  border-radius: 100px; 
  width: fit-content;

 } */