.showJobs{

width: 70%;
background-color:red; 
height: 150px; 
border: 1px solid transparent;
border-radius: 20px; 
padding: 10px; 
overflow: scroll; 
margin-top: 50px;
}




.showJobs-sectors{ 
    background-color: white;  
    border: 1px solid transparent; 
    border-radius: 20px; 
    width: 30%; 
    height: 90%;  
    padding: 10px;
    font-weight: 500;
}
.showJobs-openings{
    /* color: blue; */ 
    font-weight: 500;
}
    
.showJobs-next-icon{
    width: fit-content;
}
 @media only screen and  ( max-width: 576px  ) { 
    .showJobs{

        width: 100%;
        background-color:lightgoldenrodyellow; 
        height: 100px; 
        border: 1px solid transparent;
        border-radius: 20px; 
        padding: 10px; 
        overflow: scroll; 
        margin-top: 50px;
        }
        
        
        
        
        .showJobs-sectors{ 
            background-color: white;  
            border: 1px solid transparent; 
            border-radius: 20px; 
            width: 50%; 
            height: 90%;  
            padding: 10px;
            font-weight: 500;
            font-size: 0.8rem;
            align-items: center;
        }
        .showJobs-openings{
            /* color: blue; */ 
            font-weight: 500; 
            font-size: 0.7rem;
        }
            
        .showJobs-next-icon{
            width: fit-content;
        }

}
@media only screen and (min-width:576px) and (max-width:768px) { 

    .showJobs{

        width:100%;
        background-color:lightgoldenrodyellow; 
        height: 150px; 
        border: 1px solid transparent;
        border-radius: 20px; 
        padding: 10px; 
        overflow: scroll; 
        margin-top: 50px;
        }
        
        
        
        
        .showJobs-sectors{ 
            background-color: white;  
            border: 1px solid transparent; 
            border-radius: 20px; 
            width: 35%; 
            height: 90%;  
            padding: 10px;
            font-weight: 500; 
            font-size: 1.0rem;
        }
        .showJobs-openings{
            /* color: blue; */ 
            font-weight: 500;
        }
            
        .showJobs-next-icon{
            width: fit-content;
        }


}